<article class="index-article archive-type-<%= post.layout %>">
  <div class="index-article-inner">
    <div id="index-article-header">
      <%- partial('post/index-date', {class_name: 'index-article-date', date_format: 'MMM D'}) %>
      <%- partial('post/title', {class_name: 'index-article-title'}) %>
    </div>
    <footer class="index-article-footer">
      <%- partial('post/index-tag') %>
    </footer>
  </div>
</article>
